.map {
  height: 500px;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
  height: 100%;
}

.info-flag img {
  width: 100%;
  border-radius: 5px;
}
.info-name {
  font-size: 17px;
  color: #555;
  text-align: center;
}
.info-confirmed,
.info-recovered,
.info-deaths {
  font-size: 14px;
  margin: 3px 0;
}
.info-confirmed span,
.info-recovered span,
.info-deaths span {
  font-weight: bold;
  color: #666;
}
